@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .btn {
    @apply flex tracking-wider font-bebas cursor-pointer items-center justify-center text-sm whitespace-nowrap px-2;
    @apply transition-all rounded-xl duration-150 ease-in-out disabled:cursor-not-allowed disabled:opacity-50 hover:disabled:opacity-50;
  }
  .btn-filled {
    @apply border-none bg-bitterSweet text-white hover:opacity-70;
    @apply h-[40px] w-full transition-all duration-300 ease-in-out font-medium;
  }

  .btn-outlined {
    @apply border border-bitterSweet bg-white text-bitterSweet hover:border-bitterSweet hover:text-white hover:bg-bitterSweet;
    @apply h-[40px] w-full border font-medium;
  }
}
